#div1{
    background-color: yellow;
    height: 50px;
    width: 100px;
}

.div2{
    background-color: purple;
    height: 70px;
    width: 120px;
}

div{
    background-color: orangered;
    height: 90px;
    width: 140px;
}

